## Q. 1 - Defined Functions

Build a function that takes a dollar amoount from a previous year and returns its value in 2023 dollars rounded to ONE decimal places.

To accomplish this, you will need to know the formula for converting old dollar amounts to a more current value (hint: you will need to know the CPI conversion formula).

The most recent full-year CPI is for 2023 at `304.7`. Here's the <a href="https://github.com/sandeepmj/datasets/blob/main/cpi-to-2023.csv">CPI for previous years</a>.

**Important Note**: At this time, you will need to manually insert the old year CPI as an argument for a parameter.

In [1]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/main/cpi-to-2023.csv")
df

     year  annual average cpi (CPI-U)
0    1913                       9.900
1    1914                      10.000
2    1915                      10.100
3    1916                      10.900
4    1917                      12.800
..    ...                         ...
106  2019                     255.657
107  2020                     258.811
108  2021                     270.970
109  2022                     292.655
110  2023                     304.700

[111 rows x 2 columns]

In [2]:
#Gather Index Positions
df.tail()

     year  annual average cpi (CPI-U)
106  2019                     255.657
107  2020                     258.811
108  2021                     270.970
109  2022                     292.655
110  2023                     304.700

In [3]:
#Name Variable for current cpi values from 1917
older_cpi = df["annual average cpi (CPI-U)"].iloc[4]
older_cpi

12.8

In [4]:
#Name Variable for current cpi
newest_cpi = df["annual average cpi (CPI-U)"].iloc[110]
newest_cpi

304.7

In [5]:
#Create the function for the calculation from 1917-2023
def value_change(amount):
    return (amount / older_cpi) * newest_cpi

In [6]:
#Calculate the difference in value for $100 in 1917 to 2023.
vc = value_change(100)
vc_rounded = round(vc, 1)
f'$100 in 1917 is equal to ${vc_rounded} in 2023'

'$100 in 1917 is equal to $2380.5 in 2023'

In [7]:
# Gather index positions for next question (calculate difference for a few differen years).
df.head(30)

    year  annual average cpi (CPI-U)
0   1913                         9.9
1   1914                        10.0
2   1915                        10.1
3   1916                        10.9
4   1917                        12.8
5   1918                        15.1
6   1919                        17.3
7   1920                        20.0
8   1921                        17.9
9   1922                        16.8
10  1923                        17.1
11  1924                        17.1
12  1925                        17.5
13  1926                        17.7
14  1927                        17.4
15  1928                        17.1
16  1929                        17.1
17  1930                        16.7
18  1931                        15.2
19  1932                        13.7
20  1933                        13.0
21  1934                        13.4
22  1935                        13.7
23  1936                        13.9
24  1937                        14.4
25  1938                        14.1
26  1939                        13.9
27  1940                        14.0
28  1941                        14.7
29  1942                        16.3

In [8]:
#Name Variables for other years
other_years_0 = df["annual average cpi (CPI-U)"].iloc[4] #1917
other_years_1 = df["annual average cpi (CPI-U)"].iloc[0] #1913
other_years_2 = df["annual average cpi (CPI-U)"].iloc[9] #1922
other_years_3 = df["annual average cpi (CPI-U)"].iloc[13] #1926
other_years_4 = df["annual average cpi (CPI-U)"].iloc[17] #1930
other_years_5 = df["annual average cpi (CPI-U)"].iloc[26] #1939
other_years_6 = df["annual average cpi (CPI-U)"].iloc[28] #1941
other_years_7 = df["annual average cpi (CPI-U)"].iloc[29] #1942

In [9]:
## test it here on  1913, 1922 and 1926
def value_change(amount, year):
    return (amount / year) * newest_cpi

nineteen_thirteen = (value_change(100, other_years_1))
rounded_1 = round(nineteen_thirteen, 1)
print(f'$100 in 1913 is equal to ${rounded_1} in 2023,')

## test it here on a few previous years 
nineteen_twenty_two = (value_change(100, other_years_2))
rounded_2 = round(nineteen_twenty_two, 1)
print(f'$100 in 1922 is equal to ${rounded_2} in 2023')

nineteen_twenty_six = (value_change(100, other_years_3))
rounded_3 = round(nineteen_twenty_six, 1)
print(f'$100 in 1926 is equal to ${rounded_3} in 2023')

$100 in 1913 is equal to $3077.8 in 2023,
$100 in 1922 is equal to $1813.7 in 2023
$100 in 1926 is equal to $1721.5 in 2023

In [10]:
## test it here on 1939-1942

nineteen_thirty_nine = (value_change(100, other_years_5))
rounded_4 = round(nineteen_thirty_nine, 1)
print(f'$100 in 1939 is equal to ${rounded_4} in 2023,')

nineteen_forty_one = (value_change(100, other_years_6))
rounded_5 = round(nineteen_forty_one, 1)
print(f'$100 in 1941 is equal to ${rounded_5} in 2023')

nineteen_forty_two = (value_change(100, other_years_7))
rounded_6 = round(nineteen_forty_two, 1)
print(f'$100 in 1942 is equal to ${rounded_6} in 2023')

$100 in 1939 is equal to $2192.1 in 2023,
$100 in 1941 is equal to $2072.8 in 2023
$100 in 1942 is equal to $1869.3 in 2023

## Q. 2 - Movie Sales

Here is the  <a href="https://github.com/sandeepmj/datasets/blob/main/movie-sales.csv">repo that holds the top movies by release-year sales</a> for each year going back to 1995.

Which are the 5 movies that grossed the most in the year they were released?

In [11]:
# Import the Data
movie_df = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/main/movie-sales.csv")

In [17]:
#Display the top 5 highest grossing films, in the year they were released
movie_df[["title", "release_year_total"]].sort_values(by="release_year_total", ascending=False).head(5)

                                   title  release_year_total
24                     Avengers: Endgame           858373000
20  Star Wars Ep. VII: The Force Awakens           742208942
27                     Top Gun: Maverick           718732821
23                         Black Panther           700059566
28                                Barbie           636225983

## Q. 3 Challenge

Can you figure out another way to get only the top 5?

In [13]:
## code it here
movie_df.sort_values(by="release_year_total", ascending=False).head(5)

,release_year,title,rating,studio,release_year_total,release_yr_tickets,cpi
24,2019,Avengers: Endgame,PG-13,Walt Disney,858373000,93708843,255.657
20,2015,Star Wars Ep. VII: The Force Awakens,PG-13,Walt Disney,742208942,88043765,237.017
27,2022,Top Gun: Maverick,PG-13,Paramount Pictures,718732821,68255728,292.655
23,2018,Black Panther,PG-13,Walt Disney,700059566,76845177,251.107
28,2023,Barbie,PG-13,Warner Bros.,636225983,59019108,304.700

## Q. 4 What was the median since 1995 (inflation adjusted)

Place in a sentence with pleasing formating.

In [14]:
median_grossed = f'The median amount earned from movie ticket sales since 1995 was ${movie_df["release_year_total"].median():,.0f}'
median_grossed

'The median amount earned from movie ticket sales since 1995 was $415,004,880'

In [15]:
def inflation_change(amount, movie_cpi, newest_cpi):
    movie_cpi = df["annual average cpi (CPI-U)"].iloc[0]
    newest_cpi = df["annual average cpi (CPI-U)"].iloc[-1]
    return (amount / movie_cpi) * newest_cpi

movie_cpi = df["annual average cpi (CPI-U)"].iloc[0]
newest_cpi = df["annual average cpi (CPI-U)"].iloc[-1]
median_sale = inflation_change(415_004_880, movie_cpi, newest_cpi)
rounded_2 = f'{median_sale:,.0f}'
print(f'Movie ticket sales from 1995 are worth ${rounded_2} in 2023,')

Movie ticket sales from 1995 are worth $12,772,927,973 in 2023,

# NOT SURE HOW ACCURATE THE ABOVE CALCULATIONS ARE...
 ``` FROM $415 million to $12 billion seems like a massive jump.. my previous calculations led me to $63 Million.. Which also did not seem accurate```

In [21]:
movie_df.columns

Index(['release_year', 'title', 'rating', 'studio', 'release_year_total',
       'release_yr_tickets', 'cpi'],
      dtype='object')

# Q. 5 Multiple values at one time

Calculate the sum, mean, median, max and min for ticket sales, revenue year it was released and inflation adjusted revenue

# This one clearly also isn't right... I can't figure out what I am doing wrong :/

In [32]:
movie_df[["release_year_total", "release_year", "cpi"]].agg([sum, max, min, ])

     release_year_total  release_year       cpi
sum         13069964000         58261  6233.908
max           858373000          2023   304.700
min           184031112          1995   152.400